//LOGIN

<!DOCTYPE html>
<html>
 <head>
 <title>Acceso</title>
 <link rel="stylesheet" href="{{url_for('static',filename='css/estilo.css')}}"/>
</head>
<body>
        <!--inicio de menu-->
  <ul>
  <li><a href="/">Inicio</a></li>
  <li><a href="/recuperarCuenta">Recuperar cuenta</a></li>
</ul>

        <!--fin de menu-->

                {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul>
                {% for category, message in messages %}
                <li class="{{category}}">{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <!--inicio de formulario login-->
        <form method="POST">
          <label for="user">Usuario:</label>
          <input type="text" name="user" required>
          <br>
          <label for="passwd">Contrase&ntilde;a:</label>
          <input type="password" name="passwd" required>
          <br><br>
          <input type="Submit" value="Login">
        </form>
</body>
</html>