///INICIO MENU

<!DOCTYPE html>
<html>
 <head>
 <title>SHOPLER</title>
 <link rel="stylesheet" href="{{url_for('static',filename='css/estilo.css')}}"/>
 <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
  <!--INICIO DE MENU -->
  <nav class= "menu-principal">
  <ul>
  <li><a href="/">Inicio</a></li>
  <form action="/buscar" method="get" class="buscador">
        <input type="search" name="query" placeholder="Buscar..." required>
        <button type="submit">Buscar</button>
    </form>

          <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Productos</button>
            <div id="myDropdown" class="dropdown-content">
                  <li><a href="/">Electronicos</a></li>
                  <li><a href="/">Videojuegos y juguetes</a></li>
                  <li><a href="/">Fitness</a></li>
                  <li><a href="/">Moda</a></li>
          </div>
        </div>
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

  <li style="float:right"><a class="active"  href="/">Popular</a</li>
  <li style="float:right"><a class="active"  href="/">Lo nuevo</a</li>
  <li style="float:right"><a class="active"  href="/LOGIN">Login</a</li>
  <button style='font-size:24px'><i class='fas fa-cart-plus'></i></button>
</ul>
<nav/>

<h1>Shopler</h1>



</body>
</html>